body {
  background-color: #f2f8fa;
  font-family: 'Roboto', Helvetica, sans-serif;
  margin: 0; 
}   

/* Style the top navigation bar */
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

/*burger*/
.menu-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;  
  height: 24px;
  width: 100%;
}

.menu-icon span {
  display: block;
  height: 2px;
  width: 24px;
  background-color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
}

.link {
  margin: 0 40px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

#bannerCanvas {
  display: block;
  width: 100%;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Pacifico', cursive;
  padding-top: 80px;
  text-align: center;
  font-size: 40px;
  margin-top: 0;
}

.fade-in {
  text-align: left;
  font-size: 30px;
  margin: 60px;
  padding: 0 100px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in, transform 1s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

#about {
  background-color: white;
  margin: 40px;
  border: solid 1px black;
  border-radius: 2%;
}  

#www3ws {
  background-color: white;
  margin: 40px;
  border: solid 1px black;
  border-radius: 2%;
}

.presentation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.slides-container {
  flex: 1;
  justify-content: center;
  min-width: 500px;
  padding: 20px 
}

.slides-container iframe {
  width: 100%;
  height: 500px; 
}

/* Style footer */
.social-icons {
  text-align: center;
  margin: 50px;
}

.social-icons a {
  display: inline-block;
  margin: 0 40px;
  color: black; 
  font-size: 24px; 
}

.social-icons img {
  width: 24px; 
  height: 24px;
}


/* Mobile friendly */
@media screen and (max-width: 715px) {
  .navbar ul {
    display: none;
  }
  .navbar ul.show {
    display: block;
  }
  .menu-icon {
    display: flex;
  }
  .slides-container iframe {
    height: 500px; 
  }
  section {
    padding: 20px;
  }
  p {
    margin: 20px;
    padding: 0;
  };
  .slides-container iframe {
        width: 100%;
  }
}

